In [1]:
import numpy as np
import pandas as pd
import nltk
import string
import random
import copy
import json
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale = 2)

In [19]:
df = pd.read_csv('preprocessed.csv', low_memory=False)
df['Date'] = df['Date'].astype('datetime64[ns]')

In [20]:
for x in df.columns: 
    print(x,len(df[x].unique()))

Id 9928
Title 8411
Company 4536
Date 141
Location 66
Area 20
Classification 31
SubClassification 315
Requirement 9681
FullDescription 9288
LowestSalary 11
HighestSalary 11
JobType 5
FullDescriptionTokens 9275
RequirementTokens 9658
TitleTokens 9658

In [21]:
df = pd.read_csv('data.csv', low_memory=False)
df['Date'] = df['Date'].astype('datetime64[ns]')
for x in df.columns: 
    print(x,len(df[x].unique()))

Id 318477
Title 168065
Company 40629
Date 163
Location 66
Area 20
Classification 31
SubClassification 339
Requirement 234288
FullDescription 250902
LowestSalary 11
HighestSalary 11
JobType 5